body {
    display: flex;
    justify-content: center;
    background-color: rgb(11, 18, 37);
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
}
nav, section, footer {
    position: absolute;
}
footer {
    display: flex;
    justify-content: center;
    margin-top: 75vh;
}
footer {
    width: 100%;
    position: absolute;
    left: 0;
}
.footer {
    width: 100%;
    max-height: 150px;
}
.car {
    position: absolute;
}
.placing {
    margin-top: 12vh;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 98vw;
}
.drop {
    width: 100%;
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.drop img {
    height: 100px;
}