body {
    display: flex;
    justify-content: center;
    background-color: rgb(11, 18, 37);
    overflow-y: hidden;
    overflow-x: hidden;
}
.car {
    position: absolute;
    height: 400px;
    width: 300px;
}
.street {
    position: absolute;
    margin-top: 450px;
    height: 1500px;
    width: 10px;
}
.slot {
    position: absolute;
    height: 400px;
    width: 300px;
    rotate: 180deg;
}