body {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(11, 18, 37);
    overflow-y: hidden;
    overflow-x: hidden;
}
.closemenu {
    margin-right: 7vw;
}
div {
    position: absolute;
    max-width: 1000px;
    max-height: 1000px;
}
.map {
    width: 1000px;
    height: auto;
}
nav {
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.nav {
    width: auto;
    max-width: 350px;
}
.footer {
    width: 100%;
    max-height: 150px;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 0;
}
.point {
    position: absolute;
    width: 100px;
    bottom: 30px;
    left: 50%;
    z-index: 2;
}
.placing {
    margin-top: 12vh;
}