body {
    display: flex;
    justify-content: center;
    background-color: rgb(11, 18, 37);
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
}
nav, section, footer {
    position: absolute;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin-top: 75vh;
}
.footer {
    width: 100%;
    max-height: 150px;
}
.car {
    position: absolute;
}
.placing {
    margin-top: 12vh;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
}
nav > img {
    margin-left: 30px;
    margin-top: 20px;
}